extends layout.pug

block content
  .container-narrow
    .masthead 
      h3.muted.title 
        a(href='/') MeSocial
      if user.Verified === true
        i.fas.fa-check.verified
    hr
    .jumbotron
      h1 #{user.PrimaryTitle}
      h2
        i #{user.SecondaryTitle}
      p.lead
        | #{user.Bio}
      if user.CallToAction !== undefined
        a.btn.btn-large(href=user.CallToAction.Link target='_blank') #{user.CallToAction.Comment}
    hr
    div.socials
        for social in user.Socials
          div.social
            a(class=social.Icon href=social.Link target='_blank')
            h6 #{social.Name}