extends layout.pug

block content
  .container-narrow
    .masthead 
      h3.muted.title 
        a(href='/') MeSocial
      if user.verified === true
        i.fas.fa-check.verified
    hr
    .jumbotron
      h1 #{user.primaryTitle}
      h2
        i #{user.secondaryTitle}
      p.lead
        | #{user.bio}
      if user.callToAction !== undefined
        a.btn.btn-large(href=user.callToAction.link target='_blank') #{user.callToAction.heading}
    hr
    div.socials
        for social in user.socials
          div.social
            a(class=social.css href=social.link target='_blank')
            h6 #{social.name}